.grid {
  display: grid;
  grid-template-columns: var(--section-grid-three-col);
  justify-items: center;
  align-items: center;
  row-gap: var(--grid-row-gap);
  column-gap: var(--grid-column-gap);
  color: rgba(255, 255, 255, 0.95);
  padding: var(--section-padding);
  position: relative;
  width: var(--section-width-medium);
}

.right {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.button {
  text-align: center;
  width: 5.5em;

}

.button_active {
  border: 0.1em solid rgba(var(--color-rgb), 0.7);
  background: rgba(var(--color-rgb), 0.2);
  color: color-mix(
    in srgb,
    rgba(var(--color-rgb), 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  text-shadow: 0px 0px 0.4em rgba(var(--color-rgb), 1);
}
