.grid {
    display: grid;
    grid-template-columns: var(--section-grid-four-col);
    justify-items: center;
    align-items: center;
    row-gap: var(--grid-row-gap);
    column-gap: var(--grid-column-gap);
    color: rgba(255, 255, 255, 0.95);
    padding: var(--section-padding);
  }