.container {
    display: grid;
    grid-template-columns: var(--section-grid-two-col);
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
    align-items: center;
    justify-items: center;
  }