.label {
    text-wrap: nowrap;
    padding-left: calc(var(--main-synth-ui-font-size) * 0.2);
}

.knob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.knobNotInteractive {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}