.dial {
  position: relative;
}

.targetSelecting {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.lfo1 {
  border: 2px solid rgba(227, 81, 96, 1);
  box-shadow: 0 0 0 2px rgba(227, 81, 96, 0.4);
  background: rgba(227, 81, 96, 0.3);
}

.lfo2 {
  border: 2px solid rgba(81, 188, 227, 1);
  box-shadow: 0 0 0 2px rgba(81, 188, 227, 0.4);
  background: rgba(81, 188, 227, 0.3);
}
