.typescontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  width: fit-content;
}

.types > li {
  cursor: pointer;
}

.selected {
  color: rgba(255, 255, 255, 0.95);
}
