@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --main-synth-ui-font-size: 11px;

  --section-padding: 20px;
  --section-width-large: 390px;
  --section-width-medium: 300px;
  --section-name-padding-bottom: 10px;
  --section-grid-three-col: repeat(3, 80px);
  --section-grid-four-col: repeat(4, 80px);


  --reverb-rgb: 0, 255, 140;
  --reverb-secondary-rgb: 0, 255, 140;
  --reverb-light: 92, 255, 180;
  --reverb-border: 0 0 0 2px rgba(0, 255, 162, 0.5);

  --ping-pong-delay-rgb: 255, 102, 0;
  --ping-pong-delay-secondary-rgb: 255, 0, 162;
  --ping-pong-delay-border: 0 0 0 2px rgba(255, 129, 45, 0.5);
  --ping-pong-delay-light: 255, 153, 92;

  --delay-rgb: 255, 255, 0;
  --delay-secondary-rgb: 255, 255, 0;
  --delay-border: 0 0 0 2px rgba(255, 255, 0, 0.5);
  --delay-light: 255, 255, 100;

  --distortion-rgb: 255, 0, 0;
  --distortion-secondary-rgb: 255, 40, 0;
  --distortion-border: 0 0 0 2px rgba(255, 45, 45, 0.5);
  --distortion-light: 255, 100, 100;

  --chorus-rgb: 135, 41, 255;
  --chorus-secondary-rgb: 41, 178, 255;
  --chorus-border: 0 0 0 2px rgba(200, 90, 255, 0.5);
  --chorus-light: 220, 110, 255;

  --bitcrusher-rgb: 0, 255, 0;
  --bitcrusher-secondary-rgb: 0, 255, 0;
  --bitcrusher-border: 0 0 0 2px rgba(0, 255, 0, 0.5);
  --bitcrusher-light: 100, 255, 100;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

canvas {
  background-color: #06092c;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none;
}

button {
  text-transform: uppercase;
  letter-spacing: calc(var(--main-synth-ui-font-size) * 0.2);
}

@media screen and (max-width: 1040px) {
  :root {
    --section-grid-three-col: repeat(3, 1fr);
    --section-grid-four-col: repeat(4, 1fr);
    --section-width-large: 100%;
    --section-width-medium: 100%;
  }
}

/* @media screen and (max-width: 980px) {
  :root {
    --section-width-large: 100%;
    --section-width-medium: 100%;
  }
} */