.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
    align-items: center;
    justify-items: center;
  }