.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    min-height: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    align-items: center;
   
}

.effects {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: var(--section-padding);
}

.add_effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-left: 1px solid #bebebe37;
    cursor: pointer;
    letter-spacing: 1px;
    height: 200px;
    justify-content: center;
    padding: var(--section-padding);
    color: #ffffffad;
    margin: var(--section-padding) 0;
    width: 120px;
}

.add_effect:hover {
    color: #ffffffdd;
    text-shadow: 0 0 10px #ffffffbc;
    border-left: 1px solid #bebebe6f;
}