.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    min-height: 8em;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    align-items: center;
   
}

.effects {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    padding: var(--section-padding);
}

.add_effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    flex-shrink: 0;
    border-left: 0.1em solid #bebebe37;
    cursor: pointer;
    height: 16em;
    justify-content: center;
    padding: var(--section-padding);
    color: #ffffffad;
    margin: var(--section-padding) 0;
    width: 10em;
}

.add_effect:hover {
    color: #ffffffdd;
    text-shadow: 0 0 0.8em #ffffffbc;
    border-left: 0.1em solid #bebebe6f;
}