.container {
  padding: 1em;
}

.container h1 {
  font-size: 1em;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid #ffffff43;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.container form label {
  color: #ffffffca;
}
.container form input {
  padding: 0.6em;
  background-color: transparent;
  border: 0.1em solid #ffffff43;
  border-radius: 0.5em;
}

.container form select {
  text-transform: uppercase;
  padding: 0.6em;
  border: 0.1em solid #ffffff43;
  background-color: transparent;
  border-radius: 0.5em;
}

.container form textarea {
  padding: 0.6em;
  border: 0.1em solid #ffffff43;
  background-color: transparent;
  border-radius: 0.5em;
  min-height: 10em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.6em;
}

.buttons button {
  background: rgba(var(--custom-color), 0.6);
  color: color-mix(in srgb, rgba(var(--custom-color), 1) 20%, #fff);
}

.buttons :nth-child(1) {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff53;
}
