.wrapper {
  display: flex;
  align-self: end;
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
}

.container {
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.midi span {
  padding-right: 0.5em;
}

.preset {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.preset_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  width: 12em;
}

.preset_name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no_midi_support {
  cursor: unset;
  width: 15em;
}

.midi_selector {
  width: 15em;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  position: relative;
}

.midi_selector label {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selecting_midi {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  background-color: rgb(26, 26, 26);
  backdrop-filter: blur(22px);
  color: #ffffffa7;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 0.1em solid #acacac47;
  position: absolute;
  top: 2em;
  left: 0;
}

.selecting_midi div:hover {
  color: #fffffff9;
}

.buttons {
  display: flex;
  gap: 0.5em;
}

.header_button {
  /* text-align: center; */
}

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 2em;
  height: 2em;
}

.header_button {
  text-align: center;
  min-width: 2em;
  min-height: 2em;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.icon_button img,
.icon_button svg {
  width: 1.3em;
  height: auto;
}

.icon_button img {
  opacity: 0.8;
}
.selected {
  box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, 0.538),
    0 0 5px 0 rgba(255, 255, 255, 0.521);
  color: #fffffff9;
  text-shadow: 0 0 3px #ffffff;
  border: 1px solid #ffffff96;
}

.show_ui {
  margin: 10px;
}

@media screen and (max-width: 44rem)  {
  .midi {
    display: none;
  }
  .preset_name {
    width: 100%;
  }
  .preset {
    width: 100%;
  }
}