.wrapper {
  display: flex;
  align-self: flex-end;
  z-index: 50;
}

.container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.midi {
  display: flex;
  gap: 10px;
  align-items: center;
}

.midi span {
  margin-right: calc(var(--main-synth-ui-font-size) * -0.2);
  margin-top: calc(var(--main-synth-ui-font-size) * 0.1);
}

.midi_selector {
  background: #ffffff0e;
  color: #ffffff92;
  /* width: 180px; */
  height: 26px;
  padding: 0 10px;
  max-width: 220px;
  border-radius: 6px;
  border: 1px solid #acacac47;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* overflow: hidden; */
  position: relative;
}

.midi_selector label {
  margin-top: calc(var(--main-synth-ui-font-size) * 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
}

.preset {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.preset_name {
  background: #ffffff0e;
  color: #ffffff92;
  width: 180px;
  height: 26px;
  padding: 0 10px;
  max-width: 220px;
  border-radius: 6px;
  border: 1px solid #acacac47;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.preset_name span {
  padding-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preset_name:hover {
  color: #fffffff8;
  background: #ffffff28;
}

/* .midi_selector::after {
  content: "";
  position: absolute;
  border-radius: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
  font-size: 12px;
  background: linear-gradient(0.25turn, #ffffff00, rgb(26, 26, 26));
} */

.no_midi_support {
  cursor: unset;
  width: 300px;
}

.selecting_midi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(26, 26, 26);
  backdrop-filter: blur(22px);
  color: #ffffffa7;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #acacac47;
  position: absolute;
  top: 28px;
  left: 0;
}

.selecting_midi div:hover {
  color: #fffffff9;
}

.buttons {
  display: flex;
  gap: 10px;
}

.header_button {
  font-size: var(--main-synth-ui-font-size);
  padding-top: calc(var(--main-synth-ui-font-size) * 0.1);
  text-transform: uppercase;
  letter-spacing: calc(var(--main-synth-ui-font-size) * 0.2);
  background: #ffffff0e;
  color: #ffffffa7;
  border-radius: 6px;
  border: 1px solid #acacac47;
  padding-left: calc(var(--main-synth-ui-font-size) * 0.15 + 10px);
  padding-right: 10px;
  height: 26px;
}



.keyboard_button {
  padding-left: 8px;
  padding-right: 8px;
  background: #ffffff0e;
  border: 1px solid #acacac47;
  border-radius: 6px;
}

.keyboard_button:hover {
  background: #ffffff28;
}

.keyboard_button img {
  opacity: 0.65;
}

.header_button:hover {
  color: #fffffff8;
  background: #ffffff28;
}

.settings_button {
  background: #ffffff0e;
  color: #ffffffa7;
  border-radius: 6px;
  border: 1px solid #acacac47;
  padding: 0 5px;
  height: 26px;
  cursor: pointer;
}

.settings_button:hover {
  color: #fffffff8;
  background: #ffffff28;
}

.selected {
  box-shadow: inset 0px 0px 14px 0px rgba(255, 255, 255, 0.538),
    0px 0px 5px 0px rgba(255, 255, 255, 0.521);
  color: #fffffff9;
  text-shadow: 0px 0px 3px #ffffff;
  border: 1px solid #ffffff96;
}

.show_ui {
  margin: 10px;
}
