.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px 20px;
  --height: 200px;
  --white-width: calc(var(--height, 100) / 4.2);
  --black-width: calc(var(--white-width) * 0.6);
}

.wrapper::after {
  content: "";
  min-width: 20px;
  max-width: calc(var(--white-width) * 48.9);
  height: var(--height);
  width: calc(100% - 40px);
  position: absolute;
  top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 0 3px rgb(5, 5, 5), 0 0 0 6px rgb(60, 60, 60);
  pointer-events: none;
  z-index: 12;
}

.container {
  display: flex;
  overflow-x: scroll;
  position: relative;
  max-width: calc(var(--white-width) * 48.982);
}

.keys {
  display: flex;
  
  padding-bottom: 15px;
}

.container::-webkit-scrollbar {
  height: 12px;
}

.container::-webkit-scrollbar-track:horizontal {
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px rgb(80, 80, 80);
  background-clip: content-box;
  border: 2px solid transparent;
}

.container::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px rgba(var(--color-rgb), 1),
    inset 0 0 10px 0px rgba(var(--color-rgb), 1);
  background-color: rgba(var(--color-rgb), 0.1);
}

.container::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(var(--color-rgb), 0.5);
  cursor: grab;
}

.key {
  min-width: var(--white-width);
  height: var(--height);
  border-radius: 6px;
  
  position: relative;
}

.white {
  box-shadow: inset 0 0 0 calc(var(--height) / 66.66) rgb(5, 5, 5),
    inset 0 0 0 calc(var(--height) / 33.33) rgba(40, 40, 40, 0.5),
    inset 0 0 calc(var(--height) / 8.33) 0px rgba(var(--color-rgb), 0.3);
    background-color: rgba(80, 80, 80, 0.7);
  /* -webkit-mask: url(#black); 

  -webkit-mask-composite: subtract; */
  /* -webkit-mask-origin: content-box; */
}

.white:hover {
  box-shadow: inset 0 0 0 3px rgb(5, 5, 5),
    inset 0 0 0 6px
      color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 24px 0px rgba(var(--color-rgb), 0.7);
}

.white:active {
  box-shadow: inset 0 0 0 3px rgb(5, 5, 5),
    inset 0 0 0 6px
      color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 52px 0px rgba(var(--color-rgb), 1),
    inset 0 0 10px 8px rgba(var(--color-rgb), 1);
}

.whitePressed {
  box-shadow: inset 0 0 0 3px rgb(5, 5, 5),
    inset 0 0 0 6px
      color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 52px 0px rgba(var(--color-rgb), 1),
    inset 0 0px 10px 8px rgba(var(--color-rgb), 1);
}

.black {
  position: relative;
  box-shadow: inset 0px calc(var(--height) / -33.33) 0px
      calc(var(--height) / 33.33) rgb(5, 5, 5),
    inset 0 calc(var(--height) / -33.33) 0 calc(var(--height) / 25)
      rgba(40, 40, 40, 0.5),
    inset 0 0 calc(var(--height) / 16.66) 0px rgba(var(--color-rgb), 1);
  min-width: var(--black-width);
  height: calc(var(--height) * 0.6);
  z-index: 10;
  margin-left: calc(var(--white-width) * -0.6);
  left: calc(var(--black-width) * 0.6);
  background-color: rgb(60, 60, 60);
 
}

.black:hover {
  box-shadow: inset 0px -6px 0px 6px rgb(5, 5, 5),
    inset 0 -6px 0 8px color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 18px 0px rgba(var(--color-rgb), 1);
}

.black:active {
  box-shadow: inset 0px -6px 0px 6px rgb(5, 5, 5),
    inset 0 -6px 0 8px color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 18px 4px rgba(var(--color-rgb), 1),
    inset 0 -6px 10px 8px rgba(var(--color-rgb), 1);
}

.blackPressed {
  box-shadow: inset 0px -6px 0px 6px rgb(5, 5, 5),
    inset 0 -6px 0 8px color-mix(in srgb, rgba(40, 40, 40, 0.5) 90%, rgb(var(--color-rgb))),
    inset 0 0 18px 4px rgba(var(--color-rgb), 1),
    inset 0 -6px 10px 8px rgba(var(--color-rgb), 1);
}

.black:nth-child(12n + 2) {
  left: calc(var(--black-width) * 0.4);
}

.black:nth-child(12n + 7) {
  left: calc(var(--black-width) * 0.4);
}
.black:nth-child(12n + 9) {
  left: calc(var(--black-width) * 0.49);
}
.white::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(var(--color-rgb), 1);
  height: 2px;
  width: var(--white-width);
  box-shadow: 0px 7px 20px 1px rgba(var(--color-rgb), 1);
}

.black::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(var(--color-rgb), 1);
  width: var(--black-width);
  box-shadow: 0 0px 10px 2px rgba(var(--color-rgb), 1);
  z-index: 11;
}
