.container {
  
}

.grid {
  display: grid;
  grid-template-columns: var(--section-grid-three-col);
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
  color: rgba(255, 255, 255, 0.95);
 
  position: relative;
  width: var(--section-width-medium);
  padding: var(--section-padding);
}

.shapes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.shapes > li {
  cursor: pointer;
}

.selected {
  color: rgba(255, 255, 255, 0.95);
}

.waveform {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 25%,
    #000 65%,
    transparent 100%
  );
}

.waveformAnimation {
    animation: infinite-scroll 1s linear infinite;
    
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-32.5%);
  }
}