.container {
  display: flex;
  justify-content: space-between;
}

.effect_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 200px;
  align-items: center;
  overflow-x: scroll;
  padding: var(--section-padding);
}

.effect {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff37;
  border-radius: 6px;
  padding: 40px 30px 40px 30px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 1px;
}

.effect_name {
    padding-left: 4px;
}

.effect:hover {
  background-color: #ffffff39;
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-left: 1px solid #bebebe37;
  cursor: pointer;
  letter-spacing: 1px;
  height: 200px;
  justify-content: center;
  padding: var(--section-padding);
  color: #ffffffad;
  margin: var(--section-padding) 0;
  width: 120px;
}

.close:hover {
  color: #ffffffdd;
  text-shadow: 0 0 10px #ffffffbc;
  border-left: 1px solid #bebebe6f;
}