.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.effect_container {
  display: flex;
  gap: 0.8em;
  min-height: 19.5em;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  padding: var(--section-padding);
}

.effect {
  display: flex;
  flex-direction: column;
  width: 16em;
  height: 16em;
  justify-content: space-between;
  align-items: center;
  border: 0.1em solid #ffffff37;
  border-radius: 0.5em;
  padding: 2em;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.effect:hover {
  background-color: #ffffff39;
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  flex-shrink: 0;
  border-left: 0.1em solid #bebebe37;
  cursor: pointer;
  height: 16em;
  justify-content: center;
  padding: var(--section-padding);
  color: #ffffffad;
  width: 120px;
}

.close:hover {
  color: #ffffffdd;
  text-shadow: 0 0 10px #ffffffbc;
  border-left: 0.1em solid #bebebe6f;
}